body {	
	background: black;
	color: white;
}
h1 {
	text-align: center;
	background: gray;

}
h2 {
	text-align: center;
	color: black;
	width: 199px;
}
h3 {
	text-align: center;
}
a {
	color: white;
}
div.block {
	width: 200px;
	background: yellow;
	display: inline-block;
	
}
div.clickable{
	height: 200px;
	width: 200px;
	background: blue;
}
div.allProjectsOrLearningContainter{
	text-align: center;
}